@font-face {
  font-family: "Lato-Reg";
  src: url("Lato-Regular.woff2");
}
@font-face {
  font-family: "Lato-Light";
  src: url("Lato-Light.woff2");
}
@font-face {
  font-family: "Lato-Black";
  src: url("Lato-Black.woff2");
}
