.social-icon--wrap {
  width: 20px;
  height: 20px;
}

.social-icon--link {

  display: inline-block;
  font-size: 18px;
}

.social-icon {
  transition: .3s ease-in;
}

.social-icon:hover {
  color: $mainOrange;
}