@import '../../styles/components/variables.scss';

.titleContainer {
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
  font-family: 'Lato-Black', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.5 !important;
}

.titleText {
  border-bottom: 2px solid $mainOrange;
  padding-bottom: 5px;

}