.spec-card__list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spec-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-family: 'Lato-Black';
  max-width: 138px;
  padding: 20px;
  text-align: center;
  margin: 5px;
}

$borderColors: ('burgendy':#e8dddf, 'green':#e5ebcf, 'darkBlue':#d7dee5, 'mainOrange':#fce7ca, 'teal':#deeeeb, 'navy':#d4d3db);

@each $name,
$color in $borderColors {
  .border--#{$name} {
    border: 1px solid $color;
  }
}