@import "./components/reset.scss", "./components/variables.scss",
"../components/Header/header.scss", '../components/Hero/hero.scss', './components/link.scss';
@import './../components/Features/features.scss';
@import './../components/Testimony/testimony.scss';
@import './../components/StartForm/startForm.scss';
@import './../components/Footer/footer.scss';
@import './../components/Buttons/button.scss';
@import './../components/Cards/card-w-img.scss';

*,
html {
  //color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

p,
div,
a {
  color: white;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.justify-content__space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
}

.full-width-img {
  width: 100%;
  vertical-align: bottom;
}

.vertical-align__b {
  vertical-align: bottom;
}

.heading {
  font-family: $heading-font;
  color: white;
}

.heading-bold {
  font-weight: 700;
}

.heading1 {
  font-size: 1.5rem;

}

.heading2 {
  font-size: 1.2rem;
}

.text--small {
  font-size: 14px;
}

.text--xsmall {
  font-size: 11px;
}

.text--center {
  text-align: center;
}

.lightBrown-bkg {
  background-color: $lightBrown;
}

.midBrown-bkg {
  background-color: $midBrown;
}

.midBrown2-bkg {
  background-color: $midBrown2;
}

.darkBrown-bkg {
  background-color: $darkBrown;
}

.cyan-blue {
  color: $cyan-color;
}

.blue {
  color: $blue-color;
}

$paddings: 5,
10,
20,
30,
40,
60;

@each $num in $paddings {
  .padding-vertical--#{$num} {
    padding-top: $num*1px;
    padding-bottom: $num*1px;
  }

  .padding-horizontal--#{$num} {
    padding-left: $num*1px;
    padding-right: $num*1px;
  }

  .padding-bottom--#{$num} {
    padding-bottom: $num*1px;
  }

  .padding-top--#{$num} {
    padding-top: $num*1px;
  }

  .padding-left--#{$num} {
    padding-left: $num*1px;
  }

  .padding-right--#{$num} {
    padding-right: $num*1px;
  }

  .margin-vertical--#{$num} {
    margin-top: $num*1px;
    margin-bottom: $num*1px;
  }
}

.border-bottom {
  border-bottom: 1px solid;
}

.border-color--cyan {
  border-color: $cyan-color;
}