@import "./components/reset.scss", "./components/variables.scss",
"./components/header.scss", './components/hero.scss';

*,
html {
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

.diplay-flex {
  display: flex;
}

.justify-content__space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
}

.full-width-img {
  width: 100%;
}

.vertical-align__b {
  vertical-align: bottom;
}

.heading {
  font-family: $heading-font;
}

.heading-bold {
  font-weight: 700;
}

.heading1 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.body-text {}

.lightBrown-bkg {
  background-color: $lightBrown;
}

.midBrown-bkg {
  background-color: $midBrown;
}

.darkBrown-bkg {
  background-color: $darkBrown;
}

.paddingVertical-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.paddingVertical-1-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.paddingVertical-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}