@import "./components/reset.scss";
@import "./components/variables.scss";
@import "./../components/Header/header.scss";
@import './../components/Footer/footer.scss';
@import './../components/SocialMediaIcon/social-icon.scss';
@import './../components/Grid-Homepage/grid-layout.scss';
@import './../components/PageTiltle/page-title.scss';
@import './../components/SubNav/sub-nav.scss';
@import './../components/SpecCard/spec-card.scss';
@import './../components/StaffCard/staff-card.scss';
@import './../components/OurClients/our-clients.scss';

@import './pages/about.scss';

*,
html {
  font-size: 16px;
  font-family: "Lato-Reg", sans-serif;
  line-height: 1.2 !important;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  color: $lightGray;
}

p,
div,
a {
  color: inherit;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.justify-content__space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

a {
  text-decoration: none;


}

.img--full-width {
  width: 100%;
  vertical-align: bottom;
}





.heading1 {
  font-family: 'Lato-Black';
  font-size: 40px;
  font-weight: 900;

}

.heading2 {
  font-size: 30px;
  font-family: 'Lato-Black';
}

.heading3 {
  font-size: 21px;
  font-family: 'Lato-Black';
}

.heading4 {
  font-size: 18px;
}

.heading5 {
  font-size: 14px;
}

.text--small {
  font-size: 12px;
}

.text--xsmall {
  font-size: 10px;
}

.text--upperCase {
  text-transform: uppercase;
}

.text--bold {
  font-weight: bold;
}

.text--center {
  text-align: center;
}


$textColors: ('burgendy':$burgendy, 'green':$green, 'darkBlue':$darkBlue, 'mainOrange':$mainOrange, 'teal':$teal, 'navy':$navy, 'white':white, 'darkGray':$darkGray, 'whiteGray':$whiteGray, 'mainBlue':$mainBlue);

@each $name,
$color in $textColors {
  .text--#{$name} {
    color: $color;
  }

  .bkg--#{$name} {
    background-color: $color;
  }

  .border-color--#{$name} {
    border-color: $color;
  }
}


$paddings: 5,
10,
15,
20,
30,
40,
60;

@each $num in $paddings {
  .padding-vertical--#{$num} {
    padding-top: $num*1px;
    padding-bottom: $num*1px;
  }

  .padding-horizontal--#{$num} {
    padding-left: $num*1px;
    padding-right: $num*1px;
  }

  .padding-bottom--#{$num} {
    padding-bottom: $num*1px;
  }

  .padding-top--#{$num} {
    padding-top: $num*1px;
  }

  .padding-left--#{$num} {
    padding-left: $num*1px;
  }

  .padding-right--#{$num} {
    padding-right: $num*1px;
  }

  .margin-vertical--#{$num} {
    margin-top: $num*1px;
    margin-bottom: $num*1px;
  }

  .margin-left--#{$num} {
    margin-left: $num*1px;
  }

  .margin-right--#{$num} {
    margin-right: $num*1px;
  }
}

$borderThickness: 3,
2,
1;

@each $thickness in $borderThickness {
  .border-bottom--#{$thickness} {
    border-bottom-width: $thickness * 1px;
    border-bottom-style: solid;
  }

  .border-top--#{$thickness} {
    border-top-width: $thickness * 1px;
    border-top-style: solid;
  }

  .border-left--#{$thickness} {
    border-left-width: $thickness * 1px;
    border-left-style: solid;
  }

  .border-right--#{$thickness} {
    border-right-width: $thickness * 1px;
    border-right-style: solid;
  }
}