.card-img-wrap {
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (min-width: $midSizeDevices) {
    display: flex;
    align-items: center;
  }
}

.card-img--figure {
  margin: 0 auto;

  @media only screen and (min-width: $midSizeDevices) {
    width: 50%;
  }
}

.card-img--text-wrap {
  @media only screen and (min-width: $midSizeDevices) {
    width: 50%;
    padding-left: 60px;
  }
}