nav {
  max-width: 1200px;
  margin: 0 auto;
}

.headerWrap {
  padding: 20px 10px;

}

.logoImgWrap {
  max-width: 100px;
  width: 100%;
  min-width: 80px;
}

.navList {}

.navItem {
  padding: 20px 5px;


}