.menu-btn {
  width: 30px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;

  li {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #66665d;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  li:nth-child(1) {
    top: 0;
    transform-origin: left center;
  }

  li:nth-child(2) {
    top: 8px;
    transform-origin: left center;
  }

  li:nth-child(3) {
    top: 16px;
    transform-origin: left center;
  }

}

.menu-btn.menu-open {
  li:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    left: 5px;
  }

  li:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  li:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 5px;
  }
}

.logo-wrap {
  max-width: 110px;
}

.menu-list {
  text-align: center;
  height: 0;
  opacity: 0;
  transition: height .5s;
}

.menu-list--show {
  height: auto;
  opacity: 1;
}

.menu-item {
  padding-top: 10px;
  padding-bottom: 5px;
}

.menu-item .active-page {
  border-bottom: 3px solid $mainOrange;
  padding-bottom: 2.5px;
}

.menu-item:hover a {
  border-bottom: 3px solid $mainOrange;
  padding-bottom: 2.5px;
}