.quote-img {
  max-width: 30px;
}

.profile-wrap {
  padding: 0 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(77, 77, 77, 0.3);
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-list {
  padding: 40px 20px;
}