.sectionWrap {
  padding: 60px 10px;
  max-width: 1000px;
  margin: 0 auto;

  &:target {
    padding-top: 125px;

  }
}

.sectionSubTitle {
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.title {
  position: relative;

  span {
    position: absolute;
    top: -200px;
  }
}