.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding-bottom: 40px;

  @media only screen and (min-width:690px) {
    justify-content: space-between;
  }


}

.feature-item {
  max-width: 300px;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  // border: 1px solid cyan;
  // @media only screen and (min-width: $midSizeDevices) {
  //   max-width: 350px;
  // }





}

.feature-item__icon {
  height: 110px;
}