footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

}

.social-icon--list {
  max-width: 120px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}