@import '../../styles/components/variables.scss';

.blogList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnailItem {
  max-width: 250px;
  padding: 10px 15px;

}

.thumbnailIntro {
  padding-bottom: 5px;

  font-size: 14px;
}

.thumbnailTitle {
  padding-top: 5px;

  font-size: 21px;
  font-family: 'Lato-Black', sans-serif;
}

.thumbnailLink {
  display: block;
  padding-bottom: 20px;
  text-align: right;
}

@import '../../styles/components/variables.scss';

.heroImg {
  max-width: 1000px;
  margin: 2.83% auto;
}

.paraWrap {
  padding: 20px 0px;
}

.para {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5% 10px;
}

.paraHeading {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 18px;
}

.paraImg {
  max-width: 800px;
  margin: 3.48% auto;
}

.paraLink {
  border: 2px solid #f28b00;
  padding: 10px 15px;
  margin-top: 4%;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: $mainOrange;
  font-weight: bold;

  &::after {
    content: '›';
    padding-left: 5px;
  }

  &:hover {
    color: $mainOrange;
  }
}


@for $i from 1 through 6 {
  .thumbnailItem:nth-child(6n + #{$i}) .thumbnailTitle {
    color: nth($ColorList, $i);
  }

  .thumbnailItem:nth-child(6n+ #{$i}) .thumbnailLink {
    border-bottom: 2px solid nth($ColorList, $i);
  }
}