.start-form {
  width: 80%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.form-wrap {
  position: relative;
}

.form-wrap::before {
  content: '';
  background-color: $darkBrown;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 0;
}