@import './../../styles/components/variables.scss';

.staffList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.staffCard {
  max-width: 245px;
  padding: 10px 15px;

}

.staffRole {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.staffName {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 21px;
  font-family: 'Lato-Black';
}




@for $i from 1 through 6 {
  .staffCard:nth-child(6n + #{$i}) .staffName {
    color: nth($ColorList, $i);
  }

  .staffCard:nth-child(6n+ #{$i}) .staffRole {
    border-bottom: 2px solid nth($ColorList, $i);
  }
}